<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.748032911358-3a66h9ie5o4l7g41ec42d6fq4k4erqgb</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>748032911358-3a66h9ie5o4l7g41ec42d6fq4k4erqgb.apps.googleusercontent.com</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>OPS needs notification access to keep you updated about schedule changes, job assignments, and important team messages.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>OPS needs access to save project photos to your photo library.</string>
	<key>NSContactsUsageDescription</key>
	<string>OPS needs access to your contacts to easily import client information and save OPS contacts to your address book.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>OPS uses your location to suggest nearby addresses when entering client information, making it faster and easier to add accurate address details.</string>
	<key>UIAppFonts</key>
	<array>
		<string>BebasNeue-Regular.ttf</string>
		<string>Kosugi-Regular.ttf</string>
		<string>Mohave-Bold.ttf</string>
		<string>Mohave-Italic.ttf</string>
		<string>Mohave-Light.ttf</string>
		<string>Mohave-Medium.ttf</string>
		<string>Mohave-MediumItalic.ttf</string>
		<string>Mohave-Regular.ttf</string>
		<string>Mohave-SemiBold.ttf</string>
		<string>Mohave-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
